In [22]:
# imports
from pandas import read_csv
from os import getcwd
from statistics import pstdev

In [23]:
# read data
NUM_PARTICIPANTS = 24
DEMO_DATA_DIR = getcwd() + "\\study2_results\\forms\\demo\\"
demo_df = read_csv("demo_raw.csv")
demo_df = demo_df.iloc[3:27, 17:25]
demo_df

    Q1 Q2 Q2_3_TEXT  Q3 Q4 Q5_1 Q5_2 Q5_3
3    2  2       NaN  27  1    4    4    1
4    3  2       NaN  22  1    5    4    5
5    4  2       NaN  24  1    4    5    2
6    5  2       NaN  29  1    5    3    2
7    6  2       NaN  30  1    6    5    6
8    7  2       NaN  30  1    7    2    1
9    8  1       NaN  20  2    7    7    7
10   9  2       NaN  25  1    6    7    1
11  10  1       NaN  25  1    7    1    1
12  11  2       NaN  21  1    7    7    1
13  12  2       NaN  27  1    6    6    5
14  13  2       NaN  24  1    6    5    6
15  14  1       NaN  25  1    5    4    5
16  15  2       NaN  25  1    4    6    1
17  16  2       NaN  20  3    5    5    4
18  17  1       NaN  27  1    7    3    5
19  18  2       NaN  28  1    3    2    4
20  19  2       NaN  22  1    6    3    2
21  20  1       NaN  24  1    6    2    2
22  21  1       NaN  30  1    6    2    1
23  22  2       NaN  26  1    4    3    1
24  23  1       NaN  27  1    3    2    1
25  24  2       NaN  27  1    6    1    5
26  25  2       NaN  24  1    6    5    2

GENDER:

In [24]:
gender_list = demo_df['Q2'].tolist()
female_count = gender_list.count("1")
male_count = NUM_PARTICIPANTS - female_count

female_percentage = female_count / NUM_PARTICIPANTS * 100
male_percentage = male_count / NUM_PARTICIPANTS * 100

print("Female = %d/24, Male = %d/24" % (female_count, male_count))
print("Female = %.3f %%, Male = %.3f %%" % (female_percentage, male_percentage))

Female = 7/24, Male = 17/24
Female = 29.167 %, Male = 70.833 %

AGE:

In [26]:
age_list = demo_df['Q3'].tolist()
age_list = [int(age_list[i]) for i in range(len(age_list))]

min_age = min(age_list)
max_age = max(age_list)
mean_age = sum(age_list) / len(age_list)

sd_age = pstdev(age_list)

print("Min age = %d, Max age = %d, Mean age = %.2f, SD = %.2f" % (min_age, max_age, mean_age, sd_age))

Min age = 20, Max age = 30, Mean age = 25.38, SD = 2.93

HANDEDNESS:

In [27]:
hand_list = demo_df['Q4'].tolist()
rh_count = hand_list.count("1")
both_count = hand_list.count("3")
lh_count = NUM_PARTICIPANTS - rh_count - both_count

print("Left-handed = %d/24, Right-handed = %d/24, Both/Either = %d/24" % (lh_count, rh_count, both_count))

Left-handed = 1/24, Right-handed = 22/24, Both/Either = 1/24

TRUST IN TECHONOLOGY:

In [28]:
trust_list = demo_df['Q5_1'].tolist()
answer_list = set(trust_list)

for ans in answer_list:
    this_ans_count = trust_list.count(ans)
    print("%s: %d/24" % (ans, this_ans_count))

6: 9/24
3: 2/24
5: 4/24
4: 4/24
7: 5/24

PLAY VIDEO GAMES:

In [29]:
games_list = demo_df['Q5_2'].tolist()
answer_list = set(games_list)

for ans in answer_list:
    this_ans_count = games_list.count(ans)
    print("%s: %d/24" % (ans, this_ans_count))

2: 5/24
6: 2/24
3: 4/24
1: 2/24
5: 5/24
4: 3/24
7: 3/24

MUSICAL INSTRUMENT:

In [30]:
music_list = demo_df['Q5_3'].tolist()
answer_list = set(music_list)

for ans in answer_list:
    this_ans_count = music_list.count(ans)
    print("%s: %d/24" % (ans, this_ans_count))

6: 2/24
1: 9/24
5: 5/24
4: 2/24
2: 5/24
7: 1/24